<table class="table mt-4">
    <thead>
        <tr>
            <!-- <th scope="col">Restaurent Id</th> -->
            <th scope="col">Restaurent Name</th>
            <th scope="col">Restaurent Email</th> 
            <th scope="col">Restaurent Address</th> 
            <th scope="col">Restaurent Phone</th>
            <th scope="col">Restaurent Services</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurentData">
            <!-- <td>{{data.id}}</td> -->
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.services}}</td>
            <td>
                <!-- <button (click)="onEditResto(data)" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button> &nbsp; -->
                <!-- <button (click)="deleteResto(data.id)" class="btn btn-danger" (click)="refreshPage()" >Delete</button> -->
                <button  class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Menu</button> &nbsp;

            </td>
        </tr>
    </tbody>
</table>
